.logo {
    width:60px;
    height:50px;
}

.btn-nav{
    padding-left:20px !important;
    padding-right:20px !important;
}

.changesz{
    padding-top: 20px;
    padding-bottom: 20px;
}

.moveFp{
float:right !important;
}

.modal-content{
    padding: 60px;
}
.btn-login{
    padding-left: 30px !important;
    padding-right: 30px !important;
}

.search{
    padding: 0 auto;
    width: 300px;
}

.logo2{
    margin-right: 0 auto;
    width: 70px;
}
.padmove{
    margin-top: 10px;
    
}

.colorchange{
    height: 70px;
    background-color: #0cbe0c;
    color: white;
}

.sizes{
    margin-top: 20px;
}