.logo {
    width: 60px;
    height: 50px;
}

.btn-nav {
    padding-left: 20px !important;
    padding-right: 20px !important;
}

.border-margin,
.border-margin1 {
    border: none;
}

.input-field i.showHidePw {
    position: absolute;
    top: 35%;
    transform: translateY(-50%);
    color: #999;
    font-size: 23px;
    transition: all 0.2s ease;
}

.input-field i.showHidePw {
    right: 0;
    cursor: pointer;
    padding-right: 40px;
    align-items: center;
    justify-content: center;
}

.chck-c {
    color: #054e05;
}

.btn-w {
    width: 200px;
    background-color: #0707a0;
    margin-bottom: 20px;
}

.btn-nav {
    padding-left: 20px !important;
    padding-right: 20px !important;
}

.changesz {
    padding-top: 20px;
    padding-bottom: 20px;
}

.moveFp {
    float: right !important;
}

.modal-contents {
    padding: 60px;
}

.btn-login {
    padding-left: 30px !important;
    padding-right: 30px !important;
}